* {
 font-family: "Questrial",
  sans-serif;
}

body {
 background-color: aliceblue;
}

main {
 width: 80%;
 margin: 0 auto;
 padding: 20px 0;
}

.card-container {
 display: grid;
 grid-template-columns: repeat(auto-fill, 300px);
 justify-content: center;
 gap: 20px;
}

.card {
 height: 500px;
 border-radius: 10px;
}

.card > ul {
 display: grid;
 grid-template-columns: 1fr;
 grid-template-rows: 3fr repeat(4, 1fr);
 height: 100%;
}

.card-info-container {
 display: flex;
 justify-content: space-between;
 width: 90%;
 margin: 0 auto;
 align-items: center;
}

.image-container {
 justify-content: center;
}

.image { 
 border-radius: 50%;
 width: 130px;
 height: 130px;
 object-fit: cover;
 object-position: top;
}

footer {
 height: 50px;
 background-color: lightgrey
}